#main {
margin-left:100px;
margin-top: 50px;	
}

table {
margin-top: 30px;	
}

th, td {
padding: 10px;	
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
outline: 0;
}

element:focus{
 outline: thin transparent;
}